body {font-family: Baloo 2;
    background-color: #DABFE0; 
color: #7B1694;}


h1, h2, h3, h4, h5, h6 {font-family:"Shantell Sans";
    font-size: 30pt;}



    header {text-align: center;
    font-size: 15pt;}

    #hero, footer {text-align: center;
        font-size: 15pt;
    background-color: #2F9481;
padding: 10px;
color: #1DE0BC;
border: 2px solid #5E78E0;}

    #hero img {width: 300px;}